.head-navbar-hover:hover {
    color: 	#0000ff;
  }
  
.sat-container {
  
  margin:0px; padding:0px;

  }

  @keyframes blink {
    0% {
      top: 0px; left: 0px;
      background:rgb(250, 223, 250);
    }
    15% {
      top: 0px; left: 100px;
      background:rgb(238, 236, 209);
    }
    30% {
      background:rgb(238, 210, 243);
    }
    45% {
      top: 50px; left: 0px;
      background:rgb(240, 190, 125);
    }
    60% {
      top: 100px; left: 70px;
      background-color:rgb(191, 245, 236);
    }
    80% {
      top: 0px; left: 0px;
      background:rgb(245, 247, 255);
    }
    90% {
      top: 10px; left: 50px;
      background:rgb(220, 228, 223);
    }
  }

  .sat-top-section {
    padding:25px;
    background: rgb(235,238,246);
    background: radial-gradient(circle, rgba(235,238,246,1) 0%, rgba(249,249,249,1) 82%);
  }
  .sat-top-section:hover {
  
    animation: blink 10s infinite;
  }
  
  .sat-img-container {
    position: relative;
  }

  .sat-img{
    border-radius: 8px;
    width: 100%;
    max-height: 400px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  .sat-img:hover {
    transform: scaleX(-1);
  }

  